
// Website Colors
// ==============

// Main colors
$primary-color: #1131;
$secondary-color: #ee8ba5;
$tertiary-color: #ffbb28;

// Text
$headings-color: #344d56;
$primary-color: #1131;

// Backgrounds
$background-1: #eaedee;
$background-2: #d6dbdc;
$border-color: #EAEAEA;

// Overlay
$overlay: rgba(52,77,86, 0.45);

// Simple colors
$light-grey: #b0b2b5;
$white: #ffffff;
$primary-color: #1131;
$primary-color: #1131;
$primary-color: #1131;