// HEADER
$header_height: 111px; // [size] undefined

$navigation_font_size: 1rem; // [font_size] The font Size of the main nav

// HEADER
$footer_height: 144rem; // [size] Header Height
$footer_font_size: 44rem; // [font_size] Footer Font Size






