
// ===================
// ====== INDEX ======
// ===================
// 1 - Layout
// 2 - Desktop Navigation
// 3 - Mobile Navigation Wrapper
// 4 - Mobile Navigation
// 5 - Burger Icon
// ==================


// 1 - Layout
// =============
.core_header {
	// Background Image & General Panel Styles
	position: relative;

	// Logo
	// ======================
	&__logo {
		display: block;
		width: 100px;

		&__ciao 
			height: 100px;

			@include breakpoint(small down) 
width: 100px;
				height: 43px;
			}
		}

		@include breakpoint( small down ) {
			width: 133px;
		}
	}

	&__logo_image {
		display: block;
		width: 100%;
	}

	&__container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
		padding-top: 20px;
		position: relative;
	}
}



// 2 - Banner
// =============
.banner {
	align-items: center;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 79px 0;
	position: relative;
	text-align: center;
	z-index: 2;

	@include breakpoint( small down ) {
		padding: 40px 0;
	}

	&:before {
		background-color: #0A0806;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: .2;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	> * {
		position: relative;
		z-index: 5;
	}

	.container {
		width: 100%;
	}

	&__heading {
		color: $white;
	}
}



// 2 - Desktop Navigation
// =================
.navigation {
	align-items: center;
	display: flex;
	justify-content: flex-end;

	@include breakpoint(medium down) { 
		display: none; 
	}

	&__item {
		color: $headings-color;
		cursor: pointer;
		font-weight: $weight-bold;
		font-size: 1rem;
		@include transitions();

		&:not(:last-child) {
			margin-right: 30px; 
		}

		&:hover,
		&.open {
			color: $secondary-color;
		}

		&.active { 
			color: $primary-color; 
		}
	}

	&__item--button {
		margin-bottom: 0;

		&.active,
		&:hover {
			color: $white;
		}
	}
}

[data-dropdown] {
	display: none;
}

// 3 - Wrapper
// ===================
$menu_width: 260px;
.responsive_menu {
	$block: &;
	height: 100%;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3D(0,0,0);
	transition: width .35s;
	z-index: 99;
	width: 0;

	&:before {
		background-color: $border-color;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		transition: width .35s;
		z-index: 70;
		width: 0;	
	}

	&__inner_wrapper {
		display: flex;
		height: 100%;
		justify-content: flex-end;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		z-index: 85;
		width: 100vw;
	}

	&__inner {
		align-items: center;
		display: flex;
		height: 100%;
		align-items: center;
		overflow: scroll;
		overflow-x: hidden;
		width: 0;
	}

	&__close_icon {
		cursor: pointer;
		color: $white;
		font-size: 1.5rem;
		opacity: .2;
		position: absolute;
		right: 26px;
		top: 38px;
		transform: rotate(45deg);
		z-index: 86;
		
		&:hover {
			&:after,
			&:before {
				opacity: 1;
			}
		}

		&:after,
		&:before {
			background-color: $text-color;
			content: '';
			display: block;
			font-size: inherit;
			height: 1.0875em;
			left: 50%;
			opacity: .9;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 4px;
			@include transitions();
		}

		&:before {
			height: 4px;
			width: 1.0875em;
		}
	}
	
	// Styles of the open menu
	&--in {
		width: 100%;
		
		// Animated background
		&:before {
			width: $menu_width;
		}
		
		// Revealing the content
		#{$block}__inner_wrapper {
			visibility: visible;
		}
		
		// Animating the content
		#{$block}__inner {
			width: $menu_width;
		}
		
		// Slight rotation of the close icon 
		#{$block}__close_icon {
			opacity: 1;

			&:after,
			&:before {
				transform: translate(-50%, -50%) rotate(0deg);
			}
		}
	}
}



// 4 - Mobile Navigation
// ======================
.responsive_navigation {
	$block: &;
	height: 100%;
	padding: 75px 10px 40px;
	text-align: center;
	width: 100%;

	&__menu {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;	
	}

	&__item {
		color: $text-color;
		font-weight: $weight-normal;
		font-size: 1.4375rem;
		letter-spacing: 0.43px;
		margin-bottom: 15px;
		opacity: 0;
		position: relative;
		transform: translateY(-5px);
		
		// Animating in
		.responsive_menu--in & {
			opacity: 1;
			transform: translateY(0);
			transition: opacity 1.2s, transform .25s;
		}
		
		// Delay set on each single items to get a waterfall fade in effect
		$delay: .1;
		@for $i from 2 through 10 {
			&:nth-child(#{$i}) {
				transition-delay: #{$delay * ($i - 1)}s;
			}
		}

		&:hover,
		&.active {
			color: $primary-color;
		}
	}

	&__item--button {
		color: $white;
	}
}



// 5 - Burger Icon
// ======================
.burger {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	@include disable-selection();
	@include transitions();

	@include breakpoint(large up) {
		display: none!important;
	}

	// Each span is a line of the icon
	&__line {
		background-color: $border-color;
		display: block;
		height: 3px;
		width: 30px;
		@include disable-selection();
		@include transitions();

		&:not(:last-child){
			margin-bottom: 7px;
		}

		&:nth-child(2) {
			width: 23px;
		}

		&:nth-child(2) {
			width: 26px;
		}
	}

	&:hover,
	&:focus {
		.burger__line {
			background-color: $primary-color;
			outline: none;
		}
	}
}